/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

main {
  padding-top: 100px; /* Ensure content starts below the navbar */
}

html, body {
  height: 100%; /* Make sure the body takes the full height */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}